*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    justify-content: space-between;
    display:flex;
    align-items: center;

}
li,h1,ul{
    display: flex;
}
nav ul{
    gap:15px;
    display: flex;
}
nav h1{
    margin:0;
}

nav li{
    color: rgb(243, 235, 235);
    cursor: pointer;
    text-align: center;
}
nav a{
    text-decoration: none;
    color:white;

}
nav a:hover{
    color:aqua;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 20px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    text-align: center;
    width: 250px;
    margin-top:15px;
}
.box:hover{
   background-color:aqua
}
.products{
    text-align: center;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}
.about{
    text-align: center;
    margin-top: 10px;
    margin-left:10px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}